In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import KBinsDiscretizer
import pandas as pd

In [2]:
np.random.seed(42)
X = np.random.normal(loc=50, scale=15, size=(1000, 1))

In [3]:
# Створюємо бінер на 5 інтервалів з квантильним розподілом
binner = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
X_binned = binner.fit_transform(X)

result = pd.DataFrame({'Original values': X[:10].flatten(), 'Binned values': X_binned[:10].flatten()})

In [4]:
result

   Original values  Binned values
0        57.450712            3.0
1        47.926035            2.0
2        59.715328            3.0
3        72.845448            4.0
4        46.487699            2.0
5        46.487946            2.0
6        73.688192            4.0
7        61.511521            3.0
8        42.957884            1.0
9        58.138401            3.0